a:link,
a:visited {
    background-color: #a53636;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: grey;
}

h1 {
    text-align: center;
}

table {
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: ivory;
}